@{
    ViewBag.Title = "About";
    ViewBag.Message = "About MTN Software";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<header>Brief Overview</header>
<p>
    MTN Software was founded in 2013 as a technology driven company under Thomas Maloney,
    Mark Lehmann, and Noah Reardon.  As a start-up, we need as much customer backing as
    possible and to achieve this we strive to provide the best customer experience.
</p>
