@{
    ViewBag.Title = "About";
    ViewBag.Message = "About MTN Software";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<header>Brief Overview</header>
<p>
    MTN Software was founded in 2013 as a technology driven company under Thomas Maloney,
    Mark Lehmann, and Noah Reardon.  We provide services such as mobile applications for
    Windows Phone, various Linux distributions, Windows tablets, and Windows Desktop
</p>
