@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    MTN Software<br />
    N/A, N/A 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    708.267.0119
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:thomas@mtnsoftware.net">thomas@mtnsoftware.net</a><br />
</address>