@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MTN Software</h1>
    <p class="lead">MTN Software's main website</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Have Questions?</h2>
        <p>MTN Software has answers</p>
        <p><a class="btn btn-default" href="mailto:ThomasTNF@live.com" >Shoot us a question &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Projects</h2>
        <p>
            Currently, we are developing a version of MTN French Conjugator
            to C# ( To anyone contributing to the VB release (i.e. no one), don't
            worry, it will still be supported). Once that is done, we will focus on an
            android port.
        </p>
        <p>If anyone feels that they can help please check out our github.</p>
        <p><a class="btn btn-default" href="http://github.com/MTN-Software/">github &raquo;</a></p>

    </div>
    <div class=" col-md-4">
        <h2>Media Control Test</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <ul class="pager">
                    <li><a href="#"><span class="glyphicon glyphicon-fast-backward" /></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-pause" /></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-play" /></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-fast-forward" /></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <audio controls="controls" title="Audio" style="width: 100%;" >
                    <source src="test.mp3" type="audio/mp3" />
                    
                </audio>
            </div>
        </div>

    </div>
</div>