@{
    ViewBag.Title = "Home Page";
}





<div class="jumbotron">
    <h1>
        MTN Software
        <img src="~/Images/LogoIcon.png" alt="MTN Software" style="height: 50px;" />
    </h1>
    <p class="lead">Welcome to MTN Software's official website.</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Have Questions?</h2>
        <p>MTN Software has answers</p>
        <p><a class="btn btn-default" href="mailto:thomas@mtnsoftware.net" >Shoot us a question &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Projects</h2>
        <p>
            Currently, we are planning and developing multiple projects
        </p>
        <p>If anyone feels that they can help please check out our github.</p>
        <p><a class="btn btn-success" href="http://github.com/MTN-Software/" target="_blank">github &raquo;</a></p>

    </div>
    <div class=" col-md-4">
        
        <h2>Recent Updates</h2>

        <ul class="list-group">
            <li class="list-group-item">8/16/2014 - Upgraded to Shared Web-hosting</li>
            <li class="list-group-item">7/22/2014 - Site overhaul.</li>
            <li class="list-group-item">7/21/2014 - Website goes online.</li>
        </ul>
    </div>

</div>