
@{
    ViewBag.Title = "Software Projects";
}
<div class="row">
    <div class="col-lg-12">
        <h2>VerbSense <span class="label label-info">Backend Projects</span></h2>
        <p>
            VerbSense is a very broad project in terms of what it covers.  Currently it is what powers the
            C# rewrite of MTN Software's French Conjugator application.  Because of the way VerbSense was
            written, the code is extremely portable resulting in easy porting to the Windows marketplace 
            and a Windows desktop application.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>MTN French <span class="label label-primary">Current Priority</span></h2>
        <div class="col-md-4">
            <h4>Windows Phone Edition</h4>
            <p>
                Originally written in Visual Basic, the french conjugation application for the Windows Phone is being completely rewritten
                in C# as a front end to VerbSense along with adapting the MVVM (Model-View-ViewModel) design pattern to allow for more innovation in user interface
                design and user experience.
            </p>
        </div>
        <div class="col-md-4">
            <h4>Windows (Tablet) Edition</h4>
            <p>
                With the introduction of universal projects in Visual Studio, MTN Software has been able to more efficiently develop for the Windows tablet market.
                Using VerbSense as a backend has allowed more effort to be put into developing a strong user interface.
            </p>
        </div>
        <div class="col-md-4">
            <h4>Windows Desktop Edition</h4>
            <h6>Download <small><a href="ftp://waws-prod-dm1-001.ftp.azurewebsites.windows.net/FrenchDesktop/setup.exe">Here</a></small></h6>
            <p>
                By introducing Windows Presentation Foundation technologies to VerbSense, MTN Software is able to provide a more native and
                efficient interface for interacting with VerbSense.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>MTN Software's Website</h2>
        <p>
            Running on Microsoft Azure, MTN Software is able to efficiently scale the website to handle web traffic.  The website also is designed
            using the MVC (Model View Controller) design pattern with the Twitter Bootstrap CSS framework.
        </p>
    </div>
</div>