@{
    ViewBag.Title = "Projects";

}

<script>
    $(document).ready(function () {
        var soft = $("#software a");
        var hard = $("#hardware a");

        soft.click(function (e) {
            //e.PreventDefault();
            $(this).tab('show');
        });

        hard.click(function (e) {
            $(this).tab('show');
        });
    });
</script>
<div class="alert alert-danger" role="alert">This page is currently under construction.</div>
<div class="page-header">
    <h1>Projects <small>MTN Software</small></h1>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li id="software" class="active"><a href="#soft" role="tab" data-toggle="tab">Software</a></li>
            <li id="hardware"><a href="#hard" role="tab" data-toggle="tab">Hardware</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="soft">@RenderPage("_SoftwarePartial.cshtml")</div>
            <div class="tab-pane fade" id="hard">@RenderPage("_HardwarePartial.cshtml")</div>
        </div>
    </div>
</div>